{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% include "head-meta.html" %}
        <script src="{% static 'js/pages/admin.js' %}"></script>
    </head>
    <body id="body">
        <navbar>
            <ul class="navigation">
                <li class="left">{% include 'assets/link/red.html' with text="Home" properties=' hx-get="/" hx-target="#body" ' %}</li>
                <li class="right">{% include 'assets/link/red.html' with text="Log-Out" %}</li>
                <li class="right">{% include 'assets/link/red.html' with text="Topo" properties='href="javascript:void(0)" id="topo" ' %}</li>
            </ul>
          </navbar>
    </body>
</html>