{% include 'assets/frame.html' with color="dark" my="5" width="80" heigth="auto" %}
    <div class="columns is-mobile mt-4 mb-6">

        <div class="column auto">
            <h2 id="header" class="subtitle is-2 is-light is-bolder mx-4">Meus Pedidos</h2>
        </div>

        <div class="column is-one-quarter">
            {% include 'assets/link.html' with text="Novo Pedido" color="light" properties="id='new-request' " float="right" size="medium" %}
        </div>
    </div>

    <div id="frame" hx-get="/api/sale/client" hx-target="#frame" hx-trigger="load"></div>
{% include 'assets/close_frame.html' %}

<style>
    div.w-80 {
        width: 95% !important;
    }
</style>