{% include 'assets/frame.html' with color="light" width="80" heigth="auto" %}
    <p id="header" class="subtitle is-3 is-dark has-text-centered">Meus Pedidos</p>
    {% include 'assets/link.html' with text="Novo Pedido" color="dark" properties="id='new-request' " float="right" size="normal" %}

    <div class="spacing" ></div>
    <div id="frame" hx-get="/api/sale/client" hx-target="#frame" hx-trigger="load, every 5s"></div>
{% include 'assets/close_frame.html' %}

<style>
    #header {
        font-weight: bolder;
        position:relative
    }

    #new-request{
    }
</style>