{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/assets/card.css' %}" />
<link rel="stylesheet" href="{% static 'css/assets/frame.css' %}" />
<link rel="stylesheet" href="{% static 'css/assets/navbar.css' %}" />
<link rel="stylesheet" href="{% static "css/assets/modal.css" %}"/>
<link rel="stylesheet" href="{% static 'css/core/bulma.css' %}" />
<script src="{% static "js/core/htmx.js" %}" ></script>
<script src="{% static "js/core/jquery.js" %}" ></script>
