{% load static %}

<body id="body">
	<script src="{% static 'js/pages/home.js' %}"></script>
	
	<navbar>
          <ul class="navigation">
            <li class="left">{% include 'assets/link/red.html' with text="Login" properties='id="login"' %}</li>
            <li class="right">{% include 'assets/link/red.html' with text="Topo" properties='href="javascript:void(0)" id="topo" ' %}</li>
          </ul>
        </navbar>

        <div id="first"></div>
        
        <h1 class="title is-1 mx-6">Título</h1>
        <p class="subtitle is-5 mx-6">{% lorem 1 b random %}<p>

        <div class="main">
            <ul class="cards">
              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="{% static 'images/logo.jpg' %}"></div>
                        <div class="card_content">
                  <h2 class="card_title">Produto</h2>
                  <p class="card_text">{% lorem 1 b random %}</p>
                  </div>
                </div>
              </li>

              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="{% static 'images/logo.jpg' %}"></div>
                        <div class="card_content">
                  <h2 class="card_title">Produto</h2>
                  <p class="card_text">{% lorem 1 b random %}</p>
                  </div>
                </div>
              </li>

              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="{% static 'images/logo.jpg' %}"></div>
                        <div class="card_content">
                  <h2 class="card_title">Produto</h2>
                  <p class="card_text">{% lorem 1 b random %}</p>
                  </div>
                </div>
              </li>
              

              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="{% static 'images/logo.jpg' %}"></div>
                        <div class="card_content">
                  <h2 class="card_title">Produto</h2>
                  <p class="card_text">{% lorem 1 b random %}</p>
                  </div>
                </div>
              </li>

              <li class="cards_item">
                <div class="card last">
                    <div class="card_content">
                    <h2 class="card_title my-6">Ver Mais Produtos</h2>
                    <p class="card_text"></p>
                    {% include 'assets/link/red.html' with text=">" properties=' hx-get="admin/" hx-target="#body" ' %}
                </div>
                </div>
              </li>
            </ul>
          </div>

            <dialog id="dialog">
                <div class="my-5">
                {% include 'assets/link/red.html' with  text="<<" properties=' id="closeButton" class="button is-danger is-medium mx-0" ' %}
                </div>
                
				<form>
			
					<h1 class="title is-1 my-5 mx-0">Login</h1>
			
					<h3 class="subtitle is-3 mt-6">Usuário:</h3>
					<input class="input is-medium mb-6" type="text" placeholder="Nome de Usuário" max-length="20" />
			
					<h3 class="subtitle is-3 ">Senha:</h3>
					<input class="input is-medium mb-6" type="password" placeholder="Nome de Usuário" max-length="20" />
			
					{% include 'assets/link/green.html' with text="Fazer Login" properties='class="button is-success is-medium" ' %}
		
				</form>
        	</dialog>
        </div>
	</body>
</html>
