div.frame{
    text-align: center;
    align-content: center;
    height: fit-content;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 6px  solid #7C7C7C;
    border-radius: 10px;
}

div.is-green{
    border: 6px solid #48C78E;
}

div.is-yellow {
    border: 6px solid #FFE08A;
}

div.is-red {
    border: 6px solid #F14668;
}

div.is-blue {
    border: 6px solid #3E8ED0;
}