#
#
# .gitignore
#
# Copyright (c) 2023-2024 (authors)
#
# All rights reserved
#
# TALGS is distributed under the () license, see LICENSE for details
#
#

*.pyc
.vscode
__pycache__/*
windows/
linux/
cache/
color/target/
database/target/
db.sqlite3
