a{
    font-family: JetBrainsMono !important
}

a.button {
    font-weight: 700 !important;
}

a.light {
    color: #322030 !important;
    background-color: #E3CEBD !important;
    height: fit-content !important;
}

a.dark {
    color: #FCFDEB !important;
    background-color: #322030 !important;
	height: fit-content !important;
}

a.gray {
    color: #FCFDEB !important;
    background-color: #6A6179 !important;
    height: fit-content !important;
}

a.fit-space {
    width: 100%
}

a.center {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}