@font-face{
    font-family: 'JetBrainsMono';
    src:  url('/static/fonts/JetBrainsMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: JetBrainsMono;
}

ul.navigation {
    position: fixed;
    top: 0;
    margin-top: 0;
    list-style-type: none;
    width: 100%;
    height: fit-content;
    padding: 0;
    overflow: hidden;
    background: #000000 !important;
    z-index: 10;
}

.right {
    float: right;
    height: 100%;
}

.left {
    float: left;
    height: 100%;
}

a.button:hover{
    -webkit-user-drag: none;
    user-select: none;
}

#first{
    scroll-behavior: smooth;
    margin-top: 10vh;
}