{% load widget_tweaks %}

<head>
{% include 'head-meta.html' %}
</head>
<form id="loginForm" method="post">
        {% csrf_token %}

        
        <div class="my-5">
                {% include 'assets/link/red.html' with  text="<<" properties=' id="closeButton" class="button is-danger is-medium mx-0" ' %}
        </div>
                <h1 class="title is-1 my-5 mx-0">Login</h1>

                <h3 class="subtitle is-3 mt-6">Usuário:</h3>
                {% render_field form.username class="input is-medium mb-6" type="text" placeholder="Nome de Usuário" max-length="20" %}

                <h3 class="subtitle is-3 ">Senha:</h3>
                {% render_field form.password class="input is-medium mb-6" type="password" placeholder="Nome de Usuário" max-length="20" %}

                <input type="submit" class="button is-success is-medium" value="Entrar" />
</form>

<script type="text/javascript">  
    $("#closeButton").click(function() {
        dialog.close();
    })
</script>
