{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bulma CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
<link rel="stylesheet" href="{% static 'css/bulma.css' %}">

<!-- CSS Main File -->
<link rel="stylesheet" href="{% static 'css/master.css' %}" />

<!-- CSS Components -->
<link rel="stylesheet" href="{% static 'css/link.css' %}" />
<link rel="stylesheet" href="{% static 'css/frame.css' %}" />
<link rel="stylesheet" href="{% static 'css/input.css' %}" />
<link rel="stylesheet" href="{% static 'css/text.css' %}">
<link rel="stylesheet" href="{% static 'css/image.css' %}">

<!-- HTMX CDN -->
<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
<script src="{% static 'js/htmx.js' %}"></script>

<!-- Jquery CDN -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.js' %}"></script>

<!-- Master Template JS File -->
<script src="{% static 'js/navbar.js' %}"></script>

<script src="{% static 'js/top.js'%}"></script>