{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% include 'head-meta.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
            
            <div class="navbar-center-mobile">
                <p class="subtitle is-3 my-2">T.A.L.G.S</p>
            </div>
				{% block nav_burger %}{% endblock %}
			</a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
					{% block left_buttons %}
                {% include 'assets/link.html' with text="Home" color="light" size="normal" my="4" mx="2" other_classes="" %}

                {% include 'assets/link.html' with text="Documentation" color="light" size="normal" my="4" mx="2" other_classes="" %}
				{% endblock %}
			</div>
        </div>

        <div class="navbar-center">
            <p class="subtitle is-3 my-4">T.A.L.G.S</p>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
							{% block right_buttons %}
							{% include 'assets/link.html' with text="Sign Up" color="light" size="normal" other_classes="" %}

                        {% include 'assets/link.html' with text="Log In" color="light" size="normal" other_classes="" %}
						{% endblock %}
					</div>
                </div>
            </div>
        </div>
    </nav>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% block body %}
    {% endblock %}
</body>

</html>
