{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% include 'head-meta.html' %}
    <title>T.A.L.G.S - {% block title %}{% endblock %}</title>
</head>

<body>

    <nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
            <div class="navbar-center-mobile">
                <p class="subtitle is-3 my-2">T.A.L.G.S</p>
            </div>
				{% block nav_burger %}{% endblock %}
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
				{% block left_buttons %}
                {% endblock %}
			</div>
        </div>

        <div class="navbar-center">
            <p class="subtitle is-3 my-4">T.A.L.G.S</p>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
				        {% block right_buttons %}
						{% endblock %}
					</div>
                </div>
            </div>
        </div>
    </nav>

    <div class="spacing"></div>

    {% block body %}
    {% endblock %}
</body>

</html>
