:root {
		--primary-white: #DBDBDB;
		--primary-black: #000000;
		--primary-orange: #D87400;
		--primary-blue: #009CA6;

		--secondary-white: #BABABA;
		--secondary-black: #222222;
		--seconday-orange: #7A350F;
		--secondary-blue: #09395C;
}
