<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>
	<div class="login-modal-opened-df">
  <div class="desktop-frame">
    <div class="desktop-body"></div>
    <div class="navigation-bar"></div>
  </div>
  <div class="menu-link">
    <div class="link-component"></div>
    <div class="link-text">Menu</div>
  </div>
  <div class="login-link">
    <div class="link-component"></div>
    <div class="link-text2">Login</div>
  </div>
  <div class="card">
    <div class="card2"></div>
    <div class="card-description">
      Lorem ipsum, text text
      <br />
      ipsum dolores remes merges texto esperantti
    </div>
    <div class="title-link">Título</div>
    <div class="card-image"></div>
    <div class="image-display-text">Imagem</div>
  </div>
  <div class="card3">
    <div class="card2"></div>
    <div class="card-description">
      Lorem ipsum, text text
      <br />
      ipsum dolores remes merges texto esperantti
    </div>
    <div class="title-link">Título</div>
    <div class="card-image"></div>
    <div class="image-display-text">Imagem</div>
  </div>
  <div class="card4">
    <div class="card2"></div>
    <div class="card-description">
      Lorem ipsum, text text
      <br />
      ipsum dolores remes merges texto esperantti
    </div>
    <div class="title-link">Título</div>
    <div class="card-image"></div>
    <div class="image-display-text">Imagem</div>
  </div>
  <div class="see-more-card">
    <div class="card2"></div>
    <div class="card-text">Ver mais produtos</div>
    <div class="card-link">
      <div class="link-component"></div>
      <div class="link-text3">&gt;</div>
    </div>
  </div>
  <div class="t-tulo">Título</div>
  <div
    class="lorem-ipsum-text-text-ipsum-dolores-remes-merges-texto-texto-esperantti-lorem-ipsum-text-text-ipsum-dolores-remes-merges-texto-texto-esperantti-lorem-ipsum-text-text-ipsum-dolores-remes-merges-texto-texto-esperantti"
  >
    Lorem ipsum, text text ipsum dolores remes merges texto texto esperantti.
    Lorem ipsum, text text ipsum dolores remes merges texto texto
    esperantti.Lorem ipsum, text text ipsum dolores remes merges texto texto
    esperantti.
  </div>
  <div class="modal-frame-desktop-size">
    <div class="desktop-shadow">
      <div class="shadow"></div>
    </div>
    <div class="modal-frame"></div>
  </div>
  <div class="login">Login</div>
  <div class="input">
    <div class="rectangle-21"></div>
    <div class="placeholder">Placeholder</div>
  </div>
  <div class="input2">
    <div class="rectangle-21"></div>
    <div class="placeholder">Placeholder</div>
  </div>
  <div class="senha">Senha:</div>
  <div class="nome-de-usu-rio">Nome de usuário:</div>
  <div class="link-red">
    <div class="link-component"></div>
    <div class="link-text4">&lt;&lt;</div>
  </div>
  <div class="link-green">
    <div class="link-component2"></div>
    <div class="link-text5">Fazer Login</div>
  </div>
</div>



</body>
</html>