{% for compra in compras %}
    {% include 'assets/frame.html' with color="normal" width="100" height="20" my="5" mx="4" %}
        <div class="columns">

            <div class="column is-one-quarter info h-20 mx-3">
                <p class="subtitle is-5 is-dark">Data: {{ compra.get_date }}</p>
                <p class="subtitle is-5 is-dark">Horário: {{ compra.get_time }}</p>
                <p class="subtitle is-5 is-dark">Status: {{ compra.status_str }}</p>
                {% include 'assets/link.html' with color="dark" size="medium" text="Expandir" my="1" other_classes="fit" %}
            </div>
            
            <div class="column auto description h-20 mx-3">
                <div class="limiter">
                    <p class="is-dark">{% lorem 2 b random %}</p>
                </div>
            </div>
            
        </div>
    {% include 'assets/close_frame.html' %}
{% endfor %}

<style>
    div.info {
        text-align: center;
    }
   
    a.fit {
        width: 100%;
    }
</style>