{% load static %}
{% include 'assets/frame.html' with color="dark" width="100" height="auto" shadow="no" other_classes="fixed-grid has-4-cols-fullhd has-4-cols-widescreen has-3-cols-tablet has-1-cols-mobile "  %}
    <div class="grid">
        {% for product in products %}
            {% include 'assets/frame.html' with color="light" width="80" height="auto" my="5" other_classes="cell"  %}
                    <img src="{% static 'images/logo.jpg' %}" class="image mt-3 mb-5" />
                    <div class="center mx-3">
                        <h3 class="subtitle is-4 is-dark is-bolder mb-5">{{ product.id_produto.nome }} - {{ product.id_produto.medida}}{{ product.id_produto.unidade_escolhida }}</p>
                    </div>

                    <p class="subtitle is-4 is-dark is-bold mx-2">Seção: {{ product.id_produto.categoria }}</p> 
                    <p class="title is-4 is-dark is-lighter mx-2">R$ {{ product.id_produto.preço }}</p>
                
                <div class="columns is-mobile mx-1">
                    <div class="column is-half">
                        {% include 'assets/input.html' with type="button" color="gray" width="100" my="2" value="Cancelar"   %}
                    </div>
                    <div class="column is-half">
                        <input type="number" class="input button dark w-100 h-auto my-2" value="1" min="1" max="{{ product.id_produto.quantidade_total }}" step="1" />
                    </div>
                </div>
            {% include 'assets/close_frame.html' %}
        {% endfor %}
    </div>
{% include 'assets/close_frame.html' %}