{% load static %}
<div class="main">
    <h1>Responsive Card Grid Layout</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{% static '' %}{{ image_link }}"></div>
                <div class="card_content">
          <h2 class="card_title">{{ title }}</h2>
          <p class="card_text">{{ content }}</p>
          {% include 'assets/link/red.html' with text=">" %}
          </div>
        </div>
      </li>
    </ul>
  </div>
