<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<section>
		<div id="pagina_completa">
    <div style="width: 859px; height: 488px; left: 0px; top: 0px; position: absolute">
        <div style="width: 960px; height: 569.16px; left: -51px; top: -40.05px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 960px; height: 569.16px; background: rgba(0, 0, 0, 0.60)">
                
            </div>
    </div>
        <div style="width: 859px; height: 488px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.75); border-radius: 20px"></div>
    </div>
    <div style="width: 104px; height: 40px; left: 41px; top: 29px; position: absolute; box-shadow: 0px 4px 4px rgba(255, 182, 182, 0.50)">
        <div style="width: 104px; height: 40px; left: 0px; top: 0px; position: absolute; background: #FF6161; border-radius: 8px"></div>
        <div style="left: 38px; top: 4px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word"><<</div>
    </div>
    <div style="width: 379px; height: 51px; left: 240px; top: 23px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Criar Variação</div>
    <div style="width: 200px; height: 50px; left: 158px; top: 89px; position: absolute; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.75)">
        <div style="width: 200px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25); border-radius: 10px"></div>
        <div style="width: 149px; height: 28px; left: 9px; top: 11px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Pesquisar...</div>
        <div style="width: 20.35px; height: 20.35px; left: 178.35px; top: 15px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: black"></div>
    </div>
    <div style="width: 200px; height: 50px; left: 641px; top: 89px; position: absolute; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.75)">
        <div style="width: 200px; height: 50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25); border-radius: 10px"></div>
        <div style="width: 149px; height: 28px; left: 9px; top: 11px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Escolher...</div>
        <div style="width: 15px; height: 0px; left: 158px; top: 25px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; border: 1px black solid"></div>
        <div style="width: 15px; height: 0px; left: 169px; top: 35px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; border: 1px black solid"></div>
    </div>
    <div style="width: 239px; height: 40px; left: 380px; top: 94px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Medida de variação:</div>
    <div style="width: 167px; height: 40px; left: 17px; top: 431px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Tamanho da variação:</div>
    <div style="width: 119px; height: 40px; left: 17px; top: 94px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Produto:</div>
    <div style="width: 162px; height: 243px; left: 629.60px; top: 159px; position: absolute; box-shadow: 0px 4.859999656677246px 8.09999942779541px rgba(0, 0, 0, 0.75)">
        <div style="width: 162px; height: 243px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px -1.619999885559082px 1.619999885559082px rgba(0, 0, 0, 0.25); border-radius: 16.20px"></div>
        <div style="width: 128.79px; height: 56.70px; left: 17.01px; top: 133.65px; position: absolute; color: black; font-size: 9.72px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Lorem ipsum, text text<br/>ipsum dolores remes merges texto esperantti  </div>
        <div style="left: 57.51px; top: 116.64px; position: absolute; text-align: center; color: black; font-size: 12.96px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Título</div>
        <div style="width: 119.88px; height: 85.05px; left: 21.06px; top: 20.25px; position: absolute; background: black; border-radius: 13.77px"></div>
        <div style="width: 48.60px; height: 25.92px; left: 56.70px; top: 49.41px; position: absolute; text-align: center; color: white; font-size: 12.96px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Imagem</div>
        <div style="width: 103.68px; height: 32.40px; left: 29.16px; top: 201.69px; position: absolute; box-shadow: 0px 3.239999771118164px 3.239999771118164px rgba(255, 182, 182, 0.50)">
            <div style="width: 103.68px; height: 32.40px; left: 0px; top: 0px; position: absolute; background: #FFD159; border-radius: 6.48px"></div>
            <div style="left: 1.68px; top: 5.67px; position: absolute; text-align: center; color: black; font-size: 16.20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Selecionar</div>
        </div>
    </div>
    <div style="width: 162px; height: 243px; left: 442.40px; top: 159px; position: absolute; box-shadow: 0px 4.859999656677246px 8.09999942779541px rgba(0, 0, 0, 0.75)">
        <div style="width: 162px; height: 243px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px -1.619999885559082px 1.619999885559082px rgba(0, 0, 0, 0.25); border-radius: 16.20px"></div>
        <div style="width: 128.79px; height: 56.70px; left: 17.01px; top: 133.65px; position: absolute; color: black; font-size: 9.72px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Lorem ipsum, text text<br/>ipsum dolores remes merges texto esperantti  </div>
        <div style="left: 57.51px; top: 116.64px; position: absolute; text-align: center; color: black; font-size: 12.96px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Título</div>
        <div style="width: 119.88px; height: 85.05px; left: 21.06px; top: 20.25px; position: absolute; background: black; border-radius: 13.77px"></div>
        <div style="width: 48.60px; height: 25.92px; left: 56.70px; top: 49.41px; position: absolute; text-align: center; color: white; font-size: 12.96px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Imagem</div>
        <div style="width: 103.68px; height: 32.40px; left: 29.16px; top: 201.69px; position: absolute; box-shadow: 0px 3.239999771118164px 3.239999771118164px rgba(255, 182, 182, 0.50)">
            <div style="width: 103.68px; height: 32.40px; left: 0px; top: 0px; position: absolute; background: #FFD159; border-radius: 6.48px"></div>
            <div style="left: 1.68px; top: 5.67px; position: absolute; text-align: center; color: black; font-size: 16.20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Selecionar</div>
        </div>
    </div>
    <div style="width: 162px; height: 243px; left: 255.20px; top: 159px; position: absolute; box-shadow: 0px 4.859999656677246px 8.09999942779541px rgba(0, 0, 0, 0.75)">
        <div style="width: 162px; height: 243px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px -1.619999885559082px 1.619999885559082px rgba(0, 0, 0, 0.25); border-radius: 16.20px"></div>
        <div style="width: 128.79px; height: 56.70px; left: 17.01px; top: 133.65px; position: absolute; color: black; font-size: 9.72px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Lorem ipsum, text text<br/>ipsum dolores remes merges texto esperantti  </div>
        <div style="left: 57.51px; top: 116.64px; position: absolute; text-align: center; color: black; font-size: 12.96px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Título</div>
        <div style="width: 119.88px; height: 85.05px; left: 21.06px; top: 20.25px; position: absolute; background: black; border-radius: 13.77px"></div>
        <div style="width: 48.60px; height: 25.92px; left: 56.70px; top: 49.41px; position: absolute; text-align: center; color: white; font-size: 12.96px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Imagem</div>
        <div style="width: 103.68px; height: 32.40px; left: 29.16px; top: 201.69px; position: absolute; box-shadow: 0px 3.239999771118164px 3.239999771118164px rgba(255, 182, 182, 0.50)">
            <div style="width: 103.68px; height: 32.40px; left: 0px; top: 0px; position: absolute; background: #FFD159; border-radius: 6.48px"></div>
            <div style="left: 1.68px; top: 5.67px; position: absolute; text-align: center; color: black; font-size: 16.20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Selecionar</div>
        </div>
    </div>
    <div style="width: 162px; height: 202.50px; left: 68px; top: 159px; position: absolute; box-shadow: 0px 6.479999542236328px 8.09999942779541px rgba(0, 0, 0, 0.75)">
        <div style="width: 162px; height: 202.50px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px -1.619999885559082px 1.619999885559082px rgba(0, 0, 0, 0.25); border-radius: 16.20px"></div>
        <div style="width: 128.79px; height: 56.70px; left: 17.01px; top: 133.65px; position: absolute; color: black; font-size: 9.72px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Lorem ipsum, text text<br/>ipsum dolores remes merges texto esperantti  </div>
        <div style="left: 57.51px; top: 116.64px; position: absolute; text-align: center; color: black; font-size: 12.96px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Título</div>
        <div style="width: 119.88px; height: 85.05px; left: 21.06px; top: 20.25px; position: absolute; background: black; border-radius: 13.77px"></div>
        <div style="width: 48.60px; height: 25.92px; left: 56.70px; top: 49.41px; position: absolute; text-align: center; color: white; font-size: 12.96px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Imagem</div>
    </div>
    <div style="width: 179px; height: 40px; left: 654px; top: 431px; position: absolute">
        <div style="width: 179px; height: 40px; left: 0px; top: 0px; position: absolute; background: #00D079; border-radius: 8px"></div>
        <div style="left: 23.59px; top: 4px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Confirmar</div>
    </div>
    <div style="width: 129px; height: 44px; left: 187px; top: 427px; position: absolute; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.75)">
        <div style="width: 129px; height: 44px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25); border-radius: 10px"></div>
        <div style="width: 78.04px; height: 22px; left: 25.80px; top: 11px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.53); font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">XXXX,XX</div>
    </div>
    <div style="width: 81px; height: 40px; left: 336px; top: 431px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">Preço:</div>
    <div style="width: 200px; height: 44px; left: 424px; top: 427px; position: absolute; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.75)">
        <div style="width: 200px; height: 44px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25); border-radius: 10px"></div>
        <div style="width: 121px; height: 22px; left: 40px; top: 11px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.53); font-size: 16px; font-family: JetBrains Mono; font-weight: 800; word-wrap: break-word">R$ XXXX,XX</div>
    </div>
</div>
	</section>


</body>
</html>